.typewriter{
  background: linear-gradient(306deg,#e68e2e, #f5d393);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transform: translate(0px, 50px) skew(9deg, 8deg); */

}