@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }

  h2 {
    @apply text-3xl;
    @apply font-bold;
  }

  h3 {
    @apply text-2xl;
    @apply font-bold;
  }

  h4 {
    @apply text-xl;
    @apply font-semibold;
  }

  h5 {
    @apply text-lg;
    @apply font-semibold;
  }

  h6 {
    @apply text-sm;
    @apply font-semibold;
  }

  .blur-2xl {
    --tw-blur: blur(40px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
      var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
      var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur)
      var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
      var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
      var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
      var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
      var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
      var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
      var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
      var(--tw-backdrop-sepia);
  }

  @media (min-width: 640px) {
    .sm\:sticky {
      position: sticky;
    }

    .sm\:leading-6 {
      line-height: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    .md\:px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .md\:opacity-50 {
      opacity: 0.5;
    }
  }
}

@layer utilities {
  .overlay-mask {
    mask-image: linear-gradient(
      0deg,
      rgb(0 0 0 / 100%) 0%,
      rgb(0 0 0 / 0%) 40%
    );
  }
}

html,
body {
  overscroll-behavior: none;
}

body {
  overflow-y: hidden;
}

.content {
  position: relative;
  font-size: calc(var(--step-2) + 0.125rem);
  line-height: 1.3;
  color: #bfbfbf;
  text-align: left;
  width: fit-content;
  max-width: 30ch;
  margin: 0 auto;
  overflow: hidden;
}
.content__line {
  width: fit-content !important;
  position: relative;
}
.content__line::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(14 16 22);
  opacity: 0.825;
  transform: translateX(var(--overlay-offset, 0%));
}
@media (prefers-color-scheme: light) {
  .content {
    color: #404040;
  }
}

.contact {
  width: 100%;
  padding: 5rem 0 8rem;
  margin-top: -3px;
  border-radius: 0 0 2rem 2rem;
  background-color: #0e1016;
  overflow: hidden;
  pointer-events: all;
  box-shadow: 0 2rem 1.125rem -1.125rem rgba(235, 235, 235, 0.0875);
}

.contact__email {
  display: block;
  position: relative;
  color: #ccc; /* Darkened white by 40% */
  line-height: 1;
  text-decoration: none;
  cursor: none;
}

.contact__email__row {
  display: block;
  font-size: clamp(2.49rem, calc(1.37rem + 5.57vw), 5.34rem);
  margin: 0;
  white-space: nowrap;
  will-change: transform;
}

.contact__email__row__text {
  color: transparent;
  -webkit-text-stroke: 1px #ccc; /* Darkened white by 40% */
}

@media (prefers-reduced-motion: reduce) {
  .contact__email {
    cursor: pointer;
  }
}

@media (prefers-color-scheme: light) {
  .contact {
    box-shadow: 0 2rem 0.75rem -1rem rgba(3, 3, 3, 0.025);
  }
}
